{% extends '@TwinElementsAdmin/base.html.twig' %}

{% block body %}
    <div class="container-fluid d-flex align-items-center justify-content-center" style="height:100vh;">
        <div>
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <div id="cms-login-form" class="d-flex align-items-center justify-content-center flex-column px-12 py-14">
                <div class="h-100 w-100">
                    <h1>{{ "admin.forgot_password_form.reset_your_password"|translate_admin }}</h1>
                    {% form_theme resetForm 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(resetForm) }}

                    {{ form_row(resetForm.plainPassword) }}
                    <div class="d-flex justify-content-center mt-6">
                        <button class="btn btn-primary">{{ "admin.forgot_password_form.reset_password"|trans }}</button>
                    </div>
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
