{% extends '@TwinElementsAdmin/core/details_with_sidebar.html.twig' %}

{% set back_button_link = path('user_index') %}

{% block title %}{{ adminUser.username }}{% endblock %}

{% block buttons %}
    {{ block('back_button') }}
{% endblock %}

{% block right_sidebar %}
    <div class="cms-section">
        <a href="{{ path('user_change_password', {'id': adminUser.id}) }}" class="btn btn-primary rounded-pill">{{ "admin.change_password"|translate_admin }}</a>
    </div>
    {{ block('delete_form') }}
{% endblock %}
