{% extends '@TwinElementsAdmin/core/list.html.twig' %}

{% set add_button_link = path('user_new') %}

{% block title %}{{ 'admin.users'|trans }}{% endblock %}
{% block buttons %}
    {{ block('add_button') }}
{% endblock %}

{% block list %}
    {{ block('list_ul_begin') }}
        {{ block('list_li_header_begin') }}
                {{ block('id_header') }}
                <div class="col">Login</div>
                <div class="col-md-4">E-mail</div>
                <div class="col-md-2">Data utworzenia</div>
                {{ block('circle_header') }}
        {{ block('list_li_header_end') }}
        {% for user in adminUsers %}
            {% set id = user.id %}
            {% set circle_active = user.enabled %}

            {{ block('list_li_begin') }}
                {{ block('id') }}
                <div class="col">
                    <div class="title">
                        {% if is_granted('ROLE_ADMIN') %}
                            {% set editPath = path('user_edit', { 'id': user.id }) %}
                        {% endif %}
                        <a {% if editPath is defined %}href="{{ editPath }}"{% endif %}>
                            {{ user.username }}
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    {{ user.email }}
                </div>
                <div class="col-md-2">
                    {% if user.createdAt %}
                        {{ user.createdAt|date('Y-m-d H:i:s') }}
                    {% endif %}
                </div>
                {{ block('circle') }}
            {{ block('list_li_end') }}
        {% endfor %}
    {{ block('list_ul_end') }}
{% endblock %}
