{% extends '@TwinElementsAdmin/index.html.twig' %}
{% use '@TwinElementsAdmin/block/blocks.html.twig' %}

{% block containter %}
    <div class="d-flex justify-content-between align-items-center edit-title">
        <h1>{% block title %}{{ "admin.no_title"|translate_admin }}{% endblock %}</h1>
        <div class="navigation-buttons text-right flex-grow-1">
            {% block buttons %}{% endblock %}
        </div>
    </div>
    {{ block('breadcrumbs') }}
    {{ block('alerts') }}
    {% block action_panel %}{% endblock %}
    <div id="white-content" class="px-6 py-6">
        <div class="row">
            <div class="col">
                <div id="work-container">
                    {% block content %}
                        <h5>{{ "admin.basic_information"|translate_admin }}</h5>
                        {{ form(form) }}
                    {% endblock %}
                </div>
            </div>
            {% block right_sidebar_container %}{% endblock %}
        </div>
    </div>
{% endblock %}
